body{
    background-color: rgb(20, 19, 19);
    color: #fff;
}
h1{
    color: rgb(39, 180, 236);
}
.container{
    margin-top: 15px;
    text-align: center;
}
p{
    font-size: 30px;
}
#height{
    font-size: 25px;
    padding: 5px;
    border-radius: 10px;
    
}
#weight{
    font-size: 25px;
    padding: 5px;
    border-radius: 10px;
    
}

#calculate{
    font-size: 25px;
    border-radius: 15px;
    background-color: rgb(39, 180, 236);
}
#results{
    margin-top: 20px;
    font-size: 25px;
    color: rgb(54, 202, 175);
    font-weight: 700;
}
.weight-guide{
    margin-top: 40px;
    font-size: 20px;
}
.para{
    font-size: 20px;
    font-weight: 600;
    color: rgb(0, 64, 255);
}